<!DOCTYPE html>
<html>
    <head>
        <title>Book Details</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body class="bdy" id="parag">
        <br><br><h1>Book Details</h1><br>
        
        <div class="row">
            <div class="col-12">
                <form action="">
                    Title:<input name="title" type="text" placeholder="Book Title"><br><br>
                    Author:<input name="author" type="text" placeholder="Author"><br><br>
                    Publication year:<input name="publicationYear" type="text" maxlength="4" placeholder="Year"><br><br>
                    ISBN:<input name="isbn" type="text" placeholder="ISBN"><br><br>
                    Average rating:<input name="avgRating" type="text" size="1"><br><br>
                    <button>Submit</button>
                </form>
            </div>
        </div>
            </body>
</html>
